# Ignoriraj sve wireshark capture datoteke

S4/MR/izvjestaji/lab_1/*.pcapng
S4/MR/izvjestaji/lab_2/*.pcapng
S4/MR/izvjestaji/lab_3/*.pcapng
S4/MR/izvjestaji/lab_4/*.pcapng
S4/MR/izvjestaji/lab_5/*.pcapng
S4/MR/izvjestaji/lab_6/*.pcapng
S4/MR/izvjestaji/lab_7/*.pcapng

# Ignoriraj sve PDF datoteke unutar izvještaja
S4/MR/izvjestaji/lab_1/*.pdf
S4/MR/izvjestaji/lab_2/*.pdf
S4/MR/izvjestaji/lab_3/*.pdf
S4/MR/izvjestaji/lab_4/*.pdf
S4/MR/izvjestaji/lab_5/*.pdf
S4/MR/izvjestaji/lab_6/*.pdf
S4/MR/izvjestaji/lab_7/*.pdf

# Ignoriraj sve .im datoteke unutar izvještaja
S4/MR/izvjestaji/lab_2/*.imn
S4/MR/izvjestaji/lab_6/*.imn

# Ignoriraj PDF unutar OWT/kolokvij-2
S4/OWT/kolokvij-2/*.pdf

# Ignoriraj PDF unutar PI/
S4/PI/*.pdf
