body {
  margin-left: 15%;
  margin-right: 15%;
}

.naglavlje {
  margin-top: 1rem;
  text-align: center;
}

h3 {
  text-align: center;
}

.navigacija {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.autor-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*Na uređajima sa ekranom širim od 340px prikaži informacije o autoru u retku*/
@media (min-width: 500px) {
  .autor-div {
    flex-direction: row;
  }
  .navigacija {
    flex-direction: row;
  }
}
